:root {
  /* BACKBOARD NEUTRAL */
  --bb-neutral-50: oklch(97.59% 0.00 264.54);
  --bb-neutral-100: oklch(94.87% 0.01 264.53);
  --bb-neutral-200: oklch(88.49% 0.01 266.69);
  --bb-neutral-300: oklch(78.83% 0.02 254.94);
  --bb-neutral-400: oklch(66.51% 0.04 256.79);
  --bb-neutral-500: oklch(55.44% 0.04 257.42);
  --bb-neutral-600: oklch(48.62% 0.04 260.28);
  --bb-neutral-700: oklch(42.19% 0.03 261.30);
  --bb-neutral-800: oklch(37.84% 0.03 264.13);
  --bb-neutral-900: oklch(34.77% 0.02 264.22);
  --bb-neutral-950: oklch(27.17% 0.01 261.68);
  /* BACKBOARD GOLD */
  --bb-gold-50: oklch(97.94% 0.02 103.14);
  --bb-gold-100: oklch(94.93% 0.05 101.86);
  --bb-gold-200: oklch(89.80% 0.09 99.10);
  --bb-gold-300: oklch(83.23% 0.12 96.48);
  --bb-gold-400: oklch(76.65% 0.14 91.06);
  --bb-gold-500: oklch(71.00% 0.13 86.56);
  --bb-gold-600: oklch(61.31% 0.11 77.38);
  --bb-gold-700: oklch(50.50% 0.09 67.44);
  --bb-gold-800: oklch(44.38% 0.08 62.58);
  --bb-gold-900: oklch(39.94% 0.07 58.15);
  --bb-gold-950: oklch(27.10% 0.05 53.29);
  /* BACKBOARD BLUE */
  --bb-blue-50: oklch(97.45% 0.01 253.85);
  --bb-blue-100: oklch(95.04% 0.01 240.96);
  --bb-blue-200: oklch(89.19% 0.03 237.59);
  --bb-blue-300: oklch(80.15% 0.06 235.01);
  --bb-blue-400: oklch(69.58% 0.09 235.21);
  --bb-blue-500: oklch(60.81% 0.10 236.98);
  --bb-blue-600: oklch(52.00% 0.09 241.32);
  --bb-blue-700: oklch(44.68% 0.08 242.77);
  --bb-blue-800: oklch(40.08% 0.07 241.48);
  --bb-blue-900: oklch(36.23% 0.05 241.96);
  --bb-blue-950: oklch(27.67% 0.04 245.25);
  /* BACKBOARD PURPLE */
  --bb-purple-50: oklch(98.01% 0.01 308.36);
  --bb-purple-100: oklch(95.45% 0.02 306.66);
  --bb-purple-200: oklch(91.81% 0.03 306.18);
  --bb-purple-300: oklch(85.26% 0.06 307.70);
  --bb-purple-400: oklch(75.75% 0.10 307.73);
  --bb-purple-500: oklch(66.18% 0.13 307.78);
  --bb-purple-600: oklch(58.10% 0.15 307.57);
  --bb-purple-700: oklch(50.99% 0.15 307.59);
  --bb-purple-800: oklch(45.50% 0.12 309.09);
  --bb-purple-900: oklch(39.47% 0.10 309.28);
  --bb-purple-950: oklch(29.46% 0.09 308.24);
  /* BACKBOARD RED */
  --bb-red-50: oklch(96.94% 0.02 12.42);
  --bb-red-100: oklch(94.14% 0.03 12.58);
  --bb-red-200: oklch(89.24% 0.06 10.00);
  --bb-red-300: oklch(80.97% 0.11 11.64);
  --bb-red-400: oklch(71.92% 0.17 13.43);
  --bb-red-500: oklch(64.50% 0.22 16.44);
  --bb-red-600: oklch(58.58% 0.22 17.58);
  --bb-red-700: oklch(51.43% 0.20 16.93);
  --bb-red-800: oklch(45.46% 0.17 13.70);
  --bb-red-900: oklch(41.03% 0.15 10.27);
  --bb-red-950: oklch(27.08% 0.10 12.09);
  /* BACKBOARD GREEN */
  --bb-green-50: oklch(97.93% 0.02 166.11);
  --bb-green-100: oklch(95.05% 0.05 163.05);
  --bb-green-200: oklch(90.49% 0.09 164.15);
  --bb-green-300: oklch(84.52% 0.13 164.98);
  --bb-green-400: oklch(77.29% 0.15 163.22);
  --bb-green-500: oklch(69.59% 0.15 162.48);
  --bb-green-600: oklch(59.60% 0.13 163.23);
  --bb-green-700: oklch(50.81% 0.10 165.61);
  --bb-green-800: oklch(43.18% 0.09 166.91);
  --bb-green-900: oklch(37.80% 0.07 168.94);
  --bb-green-950: oklch(26.21% 0.05 172.55);
  /* CANVAS */
  --bb-canvas: #ffffff;
}

[data-theme="dark"] {
  /* BACKBOARD NEUTRAL */
  --bb-neutral-50: oklch(27.17% 0.01 261.68);
  --bb-neutral-100: oklch(34.77% 0.02 264.22);
  --bb-neutral-200: oklch(37.84% 0.03 264.13);
  --bb-neutral-300: oklch(42.19% 0.03 261.30);
  --bb-neutral-400: oklch(48.62% 0.04 260.28);
  --bb-neutral-500: oklch(55.44% 0.04 257.42);
  --bb-neutral-600: oklch(66.51% 0.04 256.79);
  --bb-neutral-700: oklch(78.83% 0.02 254.94);
  --bb-neutral-800: oklch(88.49% 0.01 266.69);
  --bb-neutral-900: oklch(94.87% 0.01 264.53);
  --bb-neutral-950: oklch(97.59% 0.00 264.54);
  /* BACKBOARD GOLD */
  --bb-gold-50: oklch(27.10% 0.05 53.29);
  --bb-gold-100: oklch(39.94% 0.07 58.15);
  --bb-gold-200: oklch(44.38% 0.08 62.58);
  --bb-gold-300: oklch(50.50% 0.09 67.44);
  --bb-gold-400: oklch(61.31% 0.11 77.38);
  --bb-gold-500: oklch(71.00% 0.13 86.56);
  --bb-gold-600: oklch(76.65% 0.14 91.06);
  --bb-gold-700: oklch(83.23% 0.12 96.48);
  --bb-gold-800: oklch(89.80% 0.09 99.10);
  --bb-gold-900: oklch(94.93% 0.05 101.86);
  --bb-gold-950: oklch(97.94% 0.02 103.14);
  /* BACKBOARD BLUE */
  --bb-blue-50: oklch(27.67% 0.04 245.25);
  --bb-blue-100: oklch(36.23% 0.05 241.96);
  --bb-blue-200: oklch(40.08% 0.07 241.48);
  --bb-blue-300: oklch(44.68% 0.08 242.77);
  --bb-blue-400: oklch(52.00% 0.09 241.32);
  --bb-blue-500: oklch(60.81% 0.10 236.98);
  --bb-blue-600: oklch(69.58% 0.09 235.21);
  --bb-blue-700: oklch(80.15% 0.06 235.01);
  --bb-blue-800: oklch(89.19% 0.03 237.59);
  --bb-blue-900: oklch(95.04% 0.01 240.96);
  --bb-blue-950: oklch(97.45% 0.01 253.85);
  /* BACKBOARD PURPLE */
  --bb-purple-50: oklch(29.46% 0.09 308.24);
  --bb-purple-100: oklch(39.47% 0.10 309.28);
  --bb-purple-200: oklch(45.50% 0.12 309.09);
  --bb-purple-300: oklch(50.99% 0.15 307.59);
  --bb-purple-400: oklch(58.10% 0.15 307.57);
  --bb-purple-500: oklch(66.18% 0.13 307.78);
  --bb-purple-600: oklch(75.75% 0.10 307.73);
  --bb-purple-700: oklch(85.26% 0.06 307.70);
  --bb-purple-800: oklch(91.81% 0.03 306.18);
  --bb-purple-900: oklch(95.45% 0.02 306.66);
  --bb-purple-950: oklch(98.01% 0.01 308.36);
  /* BACKBOARD RED */
  --bb-red-50: oklch(27.08% 0.10 12.09);
  --bb-red-100: oklch(41.03% 0.15 10.27);
  --bb-red-200: oklch(45.46% 0.17 13.70);
  --bb-red-300: oklch(51.43% 0.20 16.93);
  --bb-red-400: oklch(58.58% 0.22 17.58);
  --bb-red-500: oklch(64.50% 0.22 16.44);
  --bb-red-600: oklch(71.92% 0.17 13.43);
  --bb-red-700: oklch(80.97% 0.11 11.64);
  --bb-red-800: oklch(89.24% 0.06 10.00);
  --bb-red-900: oklch(94.14% 0.03 12.58);
  --bb-red-950: oklch(96.94% 0.02 12.42);
  /* BACKBOARD GREEN */
  --bb-green-50: oklch(26.21% 0.05 172.55);
  --bb-green-100: oklch(37.80% 0.07 168.94);
  --bb-green-200: oklch(43.18% 0.09 166.91);
  --bb-green-300: oklch(50.81% 0.10 165.61);
  --bb-green-400: oklch(59.60% 0.13 163.23);
  --bb-green-500: oklch(69.59% 0.15 162.48);
  --bb-green-600: oklch(77.29% 0.15 163.22);
  --bb-green-700: oklch(84.52% 0.13 164.98);
  --bb-green-800: oklch(90.49% 0.09 164.15);
  --bb-green-900: oklch(95.05% 0.05 163.05);
  --bb-green-950: oklch(97.93% 0.02 166.11);
  /* CANVAS */
  --bb-canvas: #11181c;
}

@theme {
  --color-*: initial;
  --color-black: #11181C;
  --color-white: #ffffff;
}

@theme inline {
  --color-canvas: var(--bb-canvas);
  --color-neutral-50: var(--bb-neutral-50);
  --color-neutral-100: var(--bb-neutral-100);
  --color-neutral-200: var(--bb-neutral-200);
  --color-neutral-300: var(--bb-neutral-300);
  --color-neutral-400: var(--bb-neutral-400);
  --color-neutral-500: var(--bb-neutral-500);
  --color-neutral-600: var(--bb-neutral-600);
  --color-neutral-700: var(--bb-neutral-700);
  --color-neutral-800: var(--bb-neutral-800);
  --color-neutral-900: var(--bb-neutral-900);
  --color-neutral-950: var(--bb-neutral-950);
  --color-gold-50: var(--bb-gold-50);
  --color-gold-100: var(--bb-gold-100);
  --color-gold-200: var(--bb-gold-200);
  --color-gold-300: var(--bb-gold-300);
  --color-gold-400: var(--bb-gold-400);
  --color-gold-500: var(--bb-gold-500);
  --color-gold-600: var(--bb-gold-600);
  --color-gold-700: var(--bb-gold-700);
  --color-gold-800: var(--bb-gold-800);
  --color-gold-900: var(--bb-gold-900);
  --color-gold-950: var(--bb-gold-950);
  --color-blue-50: var(--bb-blue-50);
  --color-blue-100: var(--bb-blue-100);
  --color-blue-200: var(--bb-blue-200);
  --color-blue-300: var(--bb-blue-300);
  --color-blue-400: var(--bb-blue-400);
  --color-blue-500: var(--bb-blue-500);
  --color-blue-600: var(--bb-blue-600);
  --color-blue-700: var(--bb-blue-700);
  --color-blue-800: var(--bb-blue-800);
  --color-blue-900: var(--bb-blue-900);
  --color-blue-950: var(--bb-blue-950);
  --color-purple-50: var(--bb-purple-50);
  --color-purple-100: var(--bb-purple-100);
  --color-purple-200: var(--bb-purple-200);
  --color-purple-300: var(--bb-purple-300);
  --color-purple-400: var(--bb-purple-400);
  --color-purple-500: var(--bb-purple-500);
  --color-purple-600: var(--bb-purple-600);
  --color-purple-700: var(--bb-purple-700);
  --color-purple-800: var(--bb-purple-800);
  --color-purple-900: var(--bb-purple-900);
  --color-purple-950: var(--bb-purple-950);
  --color-red-50: var(--bb-red-50);
  --color-red-100: var(--bb-red-100);
  --color-red-200: var(--bb-red-200);
  --color-red-300: var(--bb-red-300);
  --color-red-400: var(--bb-red-400);
  --color-red-500: var(--bb-red-500);
  --color-red-600: var(--bb-red-600);
  --color-red-700: var(--bb-red-700);
  --color-red-800: var(--bb-red-800);
  --color-red-900: var(--bb-red-900);
  --color-red-950: var(--bb-red-950);
  --color-green-50: var(--bb-green-50);
  --color-green-100: var(--bb-green-100);
  --color-green-200: var(--bb-green-200);
  --color-green-300: var(--bb-green-300);
  --color-green-400: var(--bb-green-400);
  --color-green-500: var(--bb-green-500);
  --color-green-600: var(--bb-green-600);
  --color-green-700: var(--bb-green-700);
  --color-green-800: var(--bb-green-800);
  --color-green-900: var(--bb-green-900);
  --color-green-950: var(--bb-green-950);
}