@import 'tailwindcss';
@import "./colors.css";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

* {
  @apply ring-gold-600 outline-gold-600;
}

button {
  @apply cursor-pointer outline-0 rounded-xs;
  &[data-hovered] {
    @apply opacity-70;
  }
  &[data-focused] {
    @apply ring-2;
  }
  &[data-pressed] {
    @apply scale-95;
  }
}