@import 'tailwindcss';
@import "./colors.css";


/* Tailwind Theme Overrides */
@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --spacing: 1px;

  --text-*: initial;
  --text-xs: 8px;
  --text-xs--line-height: 14px;
  --text-sm: 10px;
  --text-sm--line-height: 16px;
  --text-base: 12px;
  --text-base--line-height: 20px;
  --text-lg: 14px;
  --text-lg--line-height: 24px;
  --text-xl: 16px;
  --text-xl--line-height: 20px;

  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 16px;

  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 864px;
  --breakpoint-lg: 1152px;
  --breakpoint-xl: 1440px;

  --container-*: initial;
  --container-xs: 288px;
  --container-sm: 576px;
  --container-md: 864px;
  --container-lg: 1152px;
  --container-xl: 1440px;
}

html {
  @apply bg-neutral-50;
  @apply text-neutral-950;
  @apply box-border;
}

@layer base {
  * {
    @apply relative;
    @apply text-base;
    @apply outline-neutral-700;
    @apply outline-offset-2;
    @apply focus-visible:outline;
    @apply box-border;
  }
  /*  As of Tailwind V4, border-color defaulted to currentColor. Modified here. */
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    @apply border-neutral-200;
  }
}

@layer components {
  .react-aria-DropIndicator {
    &[data-drop-target] {
      height: 2px;
      background: var(--color-neutral-300);
    }
  
    @supports not selector(:has(.foo)) {
      /* Undo gap in browsers that don't support :has */
      margin-bottom: -2px;
    }
  }
}