@import 'tailwindcss';
@import "./colors.css";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

html {
  @apply bg-neutral-50 text-neutral-950;
}

/*  As of Tailwind V4, border-color defaulted to currentColor. Modified here. */
@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--bb-neutral-200, currentColor);
  }
}

/* Override RAC behavior: focus-visible applies on mouse interactions  */
* {
  @apply outline-0;
}
:not([data-rac]):focus-visible,
[data-rac][data-focus-visible] {
  @apply focus-visible:ring-2 focus-visible:ring-neutral-500;
}

/* Expand accordion button to full width */
.szh-accordion__item-btn {
  @apply w-full;
}